<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Downloader</title>
    
    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/font_awesome.css" />

    <!-- google font -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'> -->
   
    

</head>


<body ng-app="landingPage" ng-controller="landingCtrl">
 
      <!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Video Downloader</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>

        </div>
      </div>
    </nav>


    <div class="container" style="margin-top:150px;">
        <div class="row">
            <div class="col-md-12">

                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" ng-model="youtube_url" class="form-control input-lg" placeholder="Video URL " />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search" ng-click="grabeYoutube()"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0px!important;" ng-show="videoUrlUnwanted">
                <p style="color:red">Please provide proper video link. </p>
             </div>

            <div class="col-md-12" ng-show="showYTinfo">
                <div class="col-md-4 no_padding">
                    <img ng-src="{{youtube.thumbnail}}" height="240" width="320"/>
                    
                    <br />
                    <div style="margin-top:5px">
                        <button class="btn btn-lg btn-info" style="width:320px;color:#fff!important;" ng-click="uploadYoutube()">Download Video</button><br/>
                        
                        <button class="btn btn-lg btn-danger" style="width:320px;margin-top:2px;color:#fff!important;" ng-click="cancelUploadAnyway()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-8">
                   <h4> Title  : {{youtube.title}} </h4>
                    <h4>Duration : {{youtube.duration}}</h4>
                    <h4>View : {{youtube.view_count}}</h4>
                </div>

            </div>
        </div>
    </div> -->
        <div class="container"> 
            <header>
                <h1>Save Video <span>Download video easily by using this site</span></h1>   
            </header>
            
            <div class="main clearfix">
                <nav id="menu" class="nav">                 
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-home"></i>
                                </span>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon"> 
                                    <i aria-hidden="true" class="icon-services"></i>
                                </span>
                                <span>Updates</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-portfolio"></i>
                                </span>
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Contact</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i aria-hidden="true" class="fa fa-facebook"></i>
                                </span>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-youtube"></i>
                                </span>
                                <span>Youtube</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
            
            <div class="main search_area flexsearch">
                <div class="flexsearch_wrapper">
                    <form class="flexsearch_form">
                        <div class="flexsearch-input-wrapper">
                            <input class="flexsearch_input" ng-model="youtube_url" type="search" placeholder="Please provide the video link">
                        </div>
                        <input class="flexsearch_submit" ng-click="grabeYoutube()" type="button" value="&#10140;"/>
                    </form>
                </div>
            </div>
            
            <div class="video_area" ng-show="showYTinfo">
                <video controls>
                    <source src="mov_bbb.mp4" type="video/mp4"/>
                </video>
                <!-- <image ng-src="{{youtube.thumbnail}}" width="300" height="150" /> -->
                
                <div class="video_des">
                    <ul>
                        <li><h1>Tilte : {{youtube.title}}</b></li>
                        <li><p>Duration : {{youtube.duration}} sec</p></li>
                        <li><p>Views : {{youtube.view_count}}</p></li>

                    </ul>
                </div>
                <button type="submit" class="btn pull-left" ng-click="uploadYoutube()">DOWNLOAD</button>
            </div>
        </div>
        
        <div class="footer_area">
            <p>Copyright &copy; 2015, Save Video | All Rights Reserved</p>  
        </div>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/public_page_js/main_landing_page.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    
    <script>
            //  The function to change the class
            var changeClass = function (r,className1,className2) {
                var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
                if( regex.test(r.className) ) {
                    r.className = r.className.replace(regex,' '+className2+' ');
                }
                else{
                    r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
                }
                return r.className;
            };  

            //  Creating our button in JS for smaller screens
            var menuElements = document.getElementById('menu');
            menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

            //  Toggle the class on click to show / hide the menu
            document.getElementById('menutoggle').onclick = function() {
                changeClass(this, 'navtoogle active', 'navtoogle');
            }

            // http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
            document.onclick = function(e) {
                var mobileButton = document.getElementById('menutoggle'),
                    buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

                if(buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
                    changeClass(mobileButton, 'navtoogle active', 'navtoogle');
                }
            }
        </script>

</body>
</html>




